# Required for setup.py
Cython

# gnuicorn tools
eventlet
gevent

# Documentation
sphinx
docutils

# Date parsing
python-dateutil

# Flask - pinned
flask==3.1.3
Jinja2==3.1.6
markupsafe==2.0.1

# Ourselves
-e .
